################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductsAPISolution/.vs
/ProductsAPISolution/ProductsAPI/bin/Debug/net6.0
/ProductsAPISolution/ProductsAPI/obj
/ProductsAPISolution/ProductsAPI/ProductsAPI.csproj.user
